[Unit]
Description=BluOS Scrobbler
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/bluos-scrobbler/bluos-scrobbler.py
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target

