[Unit]
Description=BluOS Scrobbler
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/bluos-scrobbler/bluos-scrobbler.py
StandardOutput=append:/home/pi/bluos-scrobbler/out.log
StandardError=append:/home/pi/bluos-scrobbler/err.log

[Install]
WantedBy=multi-user.target

